* {
  transition: 0.3s backgroundColor, 0.3s background, 0.3s color;
}
html,
body,
#root,
.App {
  height: 100%;
  min-height: 100%;
}
.card {
  transition: 0.3s all;
}
.card:hover {
  box-shadow: 0 0.2rem 0.5rem 0.25rem rgb(0 0 0 / 5%);
}

.dark {
  color: White!important;
  background: #141c2f!important;
}
.dark .card {
  background: #1f2a48!important;
}